<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
               
            <h1><%= lista[0].nombreLista %></h1>
            <hr>
            <div>
                <img src="<%= lista[0].urlImagenLista %>" alt="<%= lista[0].urlImagenLista %>">
            </div>
            <h2><%= lista[0].fechaBoda %></h2>
            <p><%= lista[0].lugarCelebracion %></p>
            
            <%- include('../includes/productos-en-lista.ejs', {lista:lista}) %>
        </main>
        <%- include('../includes/end.ejs') %>
